body{
  image-rendering: optimizeQuality;
  background-color: #111111;
  background-image: url(assets/wallp.jpg);
  background-repeat: no-repeat;
  background-position: center 0px;
  background-size: auto;

  zoom: 80%;
}

*{ margin: 0; padding: 0;}

.main{
  width: 100%; max-width: 70%;
  margin: 0 auto;
padding-top: 70px;
}

.menu{
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.user{
  display: flex; float: left;
  align-items: center;
  margin-right: 10px; margin-left: 10px;

}

.avatar{ height: 50; margin-right: 20px;
}

#name{
  margin-bottom: 15px;
  font-size: 23px;
  font-weight:bolder;
  color: #f4f4f4;
  margin: auto;
}

.stuff{
  padding: 5px 30px;
  font-size: 13px;
  font-weight: 400; border-radius: 5px;
  color: #111; background-color: #cdcecd;
  cursor: pointer;
  transition: background-color 0.333s;
}

#dono{padding: 5px 5px; border-color: hsl(345, 69%, 63%);
  background-color: hsl(345, 100%, 69%);
}

.stuff:hover{background-color: #969696;
}

#dono:hover{background-color: rgb(255, 20, 110);
}
